<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<header class="clearfix">
  <div class="container">
    <div class="header-left">
      <h3>JOOM: Shopping Service</h3>
    </div>
    <div class="header-right">
      <!--<label for="open">-->
        <!--<span class="hidden-desktop"></span>-->
      <!--</label>-->
      <!--<input type="checkbox" name="" id="open">-->
      <nav>
        <a routerLink="list" routerLinkActive="active" *ngIf="isAuthenticated()">Акция-100</a>
        <a routerLink="show" routerLinkActive="" *ngIf="isAuthenticated()">Мои предпочтения</a>
        <a routerLink="register" routerLinkActive="" *ngIf="!isAuthenticated()">{{sign_up}}</a>
        <a (click)="login()" *ngIf="!isAuthenticated()">{{sign_in}}</a>
        <a (click)="logout()" *ngIf="isAuthenticated()">Выход</a>
      </nav>
    </div>
  </div>
</header>

<div>
  <router-outlet></router-outlet>
</div>
